.primaryBtn,
.secondaryBtn {
  height: 40px;
  padding: 1.5rem 1rem;
  font-size: 1rem;
  cursor: pointer;
  font-weight: 700;
  border-radius: 0.5rem;
  border: none;
  transition: var(--main-trans);
  display: flex;
  justify-content: center;
  align-items: center;
}

.primaryBtn {
  background-color: #6366f1;
  color: white;

  &:hover {
    transform: scale(1.05);
  }

  &:active {
    transform: scale(0.95) translateY(2px);
  }
}

.secondaryBtn {
  min-width: 84px;
  background-color: rgba(99, 102, 241, 0.1);
  color: var(--primary);

  &:hover {
    background-color: rgba(99, 102, 241, 0.2);
  }
}
