.container {
  width: 100%;
  margin: 0.5rem auto;
  padding: 12px 16px;
}

@media (min-width: 640px) {
  .container {
    max-width: 640px;
  }
}

@media (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}

@media (min-width: 1024px) {
  .container {
    max-width: 1024px;
  }
}

.footContainer {
  margin: 0 auto;
}
