.app {
  height: 100vh;
  display: flex;
  overflow: hidden;
  overflow-y: hidden;
}

.sidebar {
  height: 100vh;
  display: flex;
  flex-direction: column;
  /* min-width: 256px; */
  padding: 1rem;
  border-right: 1px solid var(--border-color);
  background: var(--background);
  color: var(--text-primary);
  transition: var(--main-trans);
}

.contentContainer {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.mainContent {
  flex: 1;
  overflow-y: auto;
  background: var(--background-color);
  padding: 2rem;
}

@media (max-width: 640px) {
  .mainContent {
    padding: 1rem 0.75rem;
  }
}

@media (max-width: 786px) {
  .sidebar {
    position: fixed;
    display: none;
    z-index: 1000;
  }
}

.dBlock {
  display: block;
}

.collapseBtn {
  position: absolute;
  top: 65px;
  left: 20px;
    z-index: 1005;

  display: flex;
  align-items: center;
  justify-content: center;

  width: 42px;
  height: 42px;

  background: rgba(128, 90, 213, 0.35);
  -webkit-backdrop-filter: blur(6px);
  backdrop-filter: blur(6px);

  border: 1px solid rgba(128, 90, 213, 0.55);
  border-radius: 12px;

  color: var(--text-primary);
  font-size: 1.2rem;
  cursor: pointer;

  transition: var(--main-trans);

  svg {
    transition: inherit;
  }
}

.collapseBtn:hover {
  background: rgba(128, 90, 213, 0.25);
  border-color: rgba(128, 90, 213, 0.55);
}

.collapseBtn:active {
  background: rgba(128, 90, 213, 0.35);
}
