/* Table */
.tableContainer {
  padding: 1rem;
  overflow: hidden;
  border-collapse: collapse;
}

.scrollArea {
  overflow-x: auto;
  width: 100%;
}

.tableWrapper {
  border-radius: 0.75rem;
  background: var(--card-bg);
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
  border: 1px solid var(--border-color);
  min-width: 950px;
  margin-bottom: 0.15rem;
  overflow: hidden;
  transition: var(--main-trans);
}

.table {
  width: 100%;
  text-align: left;
  border-collapse: collapse;
}

.tableHead {
  font-size: 0.875rem;
  color: var(--text-secondary);
}

.tableHead th {
  padding: 1rem 1.5rem;
  font-weight: 500;
  border-bottom: 1px solid var(--border-color);
}

.tableBody tr {
  border-bottom: 1px solid rgba(100, 116, 139, 0.3);
  transition: var(--main-trans);
  cursor: pointer;
}

.tableBody tr:hover {
  background-color: rgba(148, 163, 184, 0.1);
}

.tableBody tr:last-child {
  border-bottom: none;
}

[theme-mode="dark"] .tableBody tr {
  border-bottom-color: rgba(71, 85, 105, 0.5);
}

[theme-mode="dark"] .tableBody tr:hover {
  background-color: rgba(71, 85, 105, 0.2);
}

.tableBody td {
  padding: 1rem 1.5rem;
}

.userCell {
  display: flex;
  align-items: center;
  gap: 0.75rem;
}

.avatar {
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 9999px;
  object-fit: cover;
}

.userName {
  font-weight: 500;
  margin: 0;
}

.userEmail {
  font-size: 0.875rem;
  color: rgb(100, 116, 139);
  margin: 0;
}

[theme-mode="dark"] {
  .userEmail {
    color: rgb(156, 163, 175);
  }
}

.statusBadge {
  display: inline-block;
  padding: 0.25rem 0.5rem;
  font-size: 0.75rem;
  font-weight: 500;
  border-radius: 9999px;
}

.statusGreen {
  background-color: rgb(220, 252, 231);
  color: rgb(22, 101, 52);
}

[theme-mode="dark"] .statusGreen {
  background-color: rgba(5, 46, 22, 0.5);
  color: rgb(134, 239, 172);
}

/* --------------------------- */

.statusBlue {
  background-color: rgb(219, 234, 254);
  color: rgb(30, 58, 138);
}

[theme-mode="dark"] .statusBlue {
  background-color: rgba(7, 29, 102, 0.5);
  color: rgb(147, 197, 253);
}

/* --------------------------- */

.statusYellow {
  background-color: rgb(254, 243, 199);
  color: rgb(113, 63, 18);
}

[theme-mode="dark"] .statusYellow {
  background-color: rgba(51, 37, 6, 0.5);
  color: rgb(253, 224, 71);
}

/* --------------------------- */

.statusRed {
  background-color: rgb(254, 226, 226);
  color: rgb(127, 29, 29);
}

[theme-mode="dark"] .statusRed {
  background-color: rgba(63, 13, 13, 0.5);
  color: rgb(252, 165, 165);
}

/* --------------------------- */

.statusPurple {
  background-color: rgb(243, 232, 255);
  color: rgb(88, 28, 135);
  text-align: center;
}

[theme-mode="dark"] .statusPurple {
  background-color: rgba(59, 13, 92, 0.5);
  color: rgb(216, 180, 254);
}

.detailsLink {
  font-weight: 500;
  color: var(--primary);
  text-decoration: none;
  transition: var(--main-trans);
}

.detailsLink:hover {
  color: var(--primary-hover);
}
