:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  --primary: #6366f1;
  --primary-light: rgba(99, 102, 241, 0.1);
  --background: #f6f7f8;
  --card-bg: #ffffff;
  --stats-card-bg: linear-gradient(
    135deg,
    rgba(99, 102, 241, 0.1) 0%,
    rgba(99, 102, 241, 0.05) 100%
  );
  --border-color: #cbd5e1;
  --text-primary: #111827;
  --text-secondary: #6b7280;
  --muted-star: #cbd5e1;

  --section-bg: #f9fafb;
  --primary-hover: #4f46e5;

  --subnav-border-color: #777;
  --subnav-active: black;
  --danger-color: #ff4d4d;
  --success-color: #22c55e;

  --gray-50: #d1d5db80;

  --gradient-bg: linear-gradient(
    135deg,
    rgba(99, 102, 241, 0.1) 0%,
    rgba(168, 85, 247, 0.1) 50%,
    rgba(34, 197, 94, 0.1) 100%
  );

  --smooth-trans: all 0.4s ease;
  --main-trans: all 0.3s ease;
  --fast-trans: all 0.16ms ease;
}

[theme-mode="dark"] {
  color: #ffffffde;

  --background: #0f172a;
  --card-bg: rgba(15, 23, 42, 0.9);
  --border-color: #334155;
  --text-primary: #ffffff;
  --text-secondary: #9ca3af;
  --primary-light: rgba(99, 102, 241, 0.2);
  --muted-star: #475569;

  --section-bg: #101a22;

  --subnav-color: #999;
  --subnav-active: white;
  --danger-color: #ff6b6b;

  --gradient-bg: linear-gradient(
    135deg,
    rgba(99, 102, 241, 0.2) 0%,
    rgba(168, 85, 247, 0.2) 50%,
    rgba(34, 197, 94, 0.1) 100%
  );
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: var(--primary);
  border-radius: 20px;
  transition: var(--main-trans);
}

::-webkit-scrollbar-thumb:hover {
  background-color: var(--primary-hover);
}
a {
  font-weight: 500;
  text-decoration: inherit;
  color: inherit;
}

body {
  min-height: 100vh;
  background: var(--background);
  transition: var(--main-trans);
}

button {
  padding: 0.6em 1.2em;
  font-size: 1rem;
  font-weight: 500;
  font-family: inherit;
  cursor: pointer;
}
